* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  background-color: rgb(250, 248, 248);
}

.header-acerca {
  background: #FEC3E1;
  color: grey;
  position: relative;
  border-radius: 25px; 
  padding-bottom: 2px;
}

.header-acerca .estrella1 {
  position: absolute;
  color: #b6b5b5;
  font-size: 20px;
  top: 10px;
  left: 10px;
}

.header-acerca .estrella2 {
  position: absolute;
  color: #b6b5b5;
  font-size: 20px;
  bottom: 10px;
  right: 10px;
}

.section-nav .nav-contenedor .nav-acerca {
  background: #FEC3E1;
  border-radius: 25px;
  margin-top: 10px;
  margin-bottom: 2cqw;
}

.section-nav .nav-contenedor .nav-acerca .bi-cake {
  color: grey;
  font-size: 20px;
  margin-left: 15px;
}

.section-nav .nav-contenedor .nav-acerca .nav-links .nav-link {
  color: grey;
  margin-left: 8px;
}

main .contenido-negocio {
  background-color: #FEC3E1;
  padding: 50px;
  border-radius: 50px;
  margin-bottom: 25px;
}

main .contenido-negocio .descripcion-negocio {
  background-color: white;
  color: #d17a98;
  border-radius: 25px;
  padding: 15px;
}

main .contenido-negocio .descripcion-negocio .selector-info {
  border: 3px solid #d17a98;
  color: #b34269;
  border-radius: 25px;
  margin-top: 15px;
}

main .contenido-negocio .descripcion-negocio .informacion-negocio {
  color: #d17a98;
}

main .contenido-negocio .descripcion-negocio .informacion-negocio h3{
  text-align: center;
  font-size: 18px;
  margin-top: 15px;
}

main .contenido-negocio .descripcion-negocio .higiene-negocio {
  width: 100%;
  padding: 10px;
}

main .contenido-negocio .descripcion-negocio .higiene-negocio h3 {
  text-align: center;
  font-size: 18px;
  margin-top: 15px;
}

main .contenido-negocio .descripcion-negocio .informacion-negocio {
  border: 3px solid #d17a98;
  border-radius: 25px;
  margin: 10px;
  margin-top: 20px;
}

main .contenido-negocio .descripcion-negocio .informacion-negocio p {
  margin: 5px;
}

main .contenido-negocio .descripcion-negocio .higiene-negocio .video-higiene {
  width: 100%;
}

main .contenido-negocio .descripcion-negocio p{
  text-align: justify;
  font-size: 15px;
}

.footer-acerca {
  color: #d17a98;
  border: 3px solid #d17a98;
  padding: 25px 15px;
}

.footer-acerca .contenido-footer {
  display: grid;
  text-align: center;
  gap: 25px;
}

.footer-acerca .footer-datos {
  display: grid;
  gap: 10px;
}

.footer-acerca .footer-datos h3 {
  margin-bottom: 10px;
}

.footer-acerca .footer-datos a {
  color: #d17a98;
}

.footer-acerca .footer-datos i {
  margin-right: 5px;
}

@media (min-width: 768px){

  .header-acerca{
    width: 90%;
    margin-top: 20px;
  }
  
  .header-acerca .estrella1,
  .header-acerca .estrella2 {
    font-size: 28px;
  }

  .section-nav .nav-contenedor .nav-acerca {
    margin: 20px auto;
    width: 90%;
    font-size: 19px;
  }

  .section-nav .nav-contenedor .nav-acerca .bi-cake{
    font-size: 28px;
  }

  main .contenido-negocio .descripcion-negocio .informacion-negocio {
    margin-bottom: 15px;
  }

  main .contenido-negocio .descripcion-negocio .informacion-negocio h3{
    font-size: 25px;
  }

  main .contenido-negocio .descripcion-negocio p{
    text-align: justify;
    font-size: 20px;
  }

  main .contenido-negocio .descripcion-negocio .higiene-negocio {
    margin: 0 auto;
    max-width: 700px; 
    padding: 20px;
    margin-top: 15px;
  }

  main .contenido-negocio .descripcion-negocio .higiene-negocio h3{
    font-size: 25px; 
  }

  main .contenido-negocio .descripcion-negocio .higiene-negocio .video-higiene {
    height: 394px;
  }

  .footer-acerca .contenido-footer {
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(3, 1fr);
  }
}