* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: rgb(250, 248, 248);
}

.header-autor {
  background: #FEC3E1;
  border-radius: 25px;
  position: relative; 
}

.estrella1 {
  position: absolute;
  top: 10px;
  left: 10px;
  color: #b6b5b5;
  font-size: 28px;
}

.estrella2 {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: #b6b5b5;
  font-size: 28px;
}

.header-autor  h1,
.header-autor  h4{
  color: grey;
}


.section-nav .nav-contenedor .nav-autor {
  background: #FEC3E1;
  border-radius: 25px;
  margin-right: 20px;
}

.section-nav .nav-contenedor .nav-autor .bi-cake{
  color: grey;
  font-size: 20px;
}

.section-nav .nav-contenedor .nav-autor .nav-links .nav-link {
  color: grey;
  margin-left: 8px;
}

main .datos-autor {
  background: #FEC3E1;
  border-radius: 25px;
  color: grey;
  margin-bottom: 25px;
}

main .datos-autor img {
  width: 100%;
  height: auto;
  border-radius: 25px;
}

.footer-autor {
  color: #d17a98;
  border: 3px solid #d17a98;
  padding: 25px 15px;
}

.footer-autor .contenido-footer {
  display: grid;
  gap: 25px;
  text-align: center;
}

.footer-autor .footer-datos {
  display: grid;
  gap: 10px;
}

.footer-autor .footer-datos h3 {
  margin-bottom: 10px;
}

.footer-autor .footer-datos a {
  color: #d17a98;
}

.footer-autor .footer-datos i {
  margin-right: 5px;
}

@media (min-width: 768px){
  .estrella1,
  .estrella2{
    font-size: 28px;
  }

  .bi-cake{
    font-size: 28px;
  }

  main .datos-autor img {
    width: 500px;
    height: 500px;
  }

  .section-nav .nav-contenedor .nav-autor .bi-cake {
    font-size: 28px;
  }

  .section-nav .nav-contenedor .nav-autor {
    width: 90%;
    margin: 20px auto;
    font-size: 19px;
  }

  .header-autor {
    width: 90%;
    margin-top: 20px;
  }

  .footer-autor .contenido-footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between; 
  }
}

