* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: rgb(250, 248, 248);
}

.header-home {
  background: #FEC3E1;
  border-radius: 25px;
  color: grey;
  position: relative; 
}

.estrella1 {
  position: absolute;
  top: 10px;
  left: 10px;
  color: #b6b5b5;
  font-size: 20px;
}

.estrella2 {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: #b6b5b5;
  font-size: 20px;
}

.nav-home {
  background: #FEC3E1;
  border-radius: 25px;
  margin-right: 20px;
}

.nav-contenedor .nav-home .bi-cake{
  color: grey;
  font-size: 20px;
}

.nav-contenedor .nav-home .nav-item .nav-link {
  color: grey;
  margin-left: 8px;
}

.contenido-negocio {
  background-color: #FEC3E1;
  margin: 20px auto;
  max-width: 1200px; 
  padding: 20px;
}

.section-caroucel {
  padding: 20px 10px;
  margin: 20px;
  border-radius: 25px;
  background-color: #FEC3E1;
}

.section-caroucel .carousel-content {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}

.section-caroucel .carousel-content #demo {
  border-radius: 15px;
  overflow: hidden;
}

.section-caroucel .carousel-content #demo .carousel-inner .carousel-caption h3{
  color: #f178d7;
  font-size: 50px;
  text-align: center;
  transform: translate(-15%, -450%);
}

.section-caroucel .carousel-content #demo .carousel-inner img {
  width: 100%;
  height: 400px;
}

.section-caroucel .carousel-content #demo .carousel-control-prev 
.carousel-control-prev-icon {
  background-color: #f178d7;
  border-radius: 25px;
}

.section-caroucel .carousel-content #demo .carousel-control-next 
.carousel-control-next-icon {
  background-color: #f178d7;
  border-radius: 25px;
}

main .contenido-negocio .descripcion-negocio {
  background-color: #F5F5F5;
  padding: 5px;
  color: #d17a98;
  border-radius: 25px;
}

main .contenido-negocio .descripcion-negocio h3{
  font-size: 18px;
  text-align: center;
  margin-top: 15px;
}

main .contenido-negocio .descripcion-negocio p{
  font-size: 15px;
  text-align: justify;
}

main #mapa {
  width: 100%;
  height: 260px;
  overflow: hidden;
}

main #btnUbicacion {
  color: #d17a98;
}

footer {
  color: #d17a98;
  border: 3px solid #d17a98;
}


footer .lista-footer li a {
  color: #d17a98;
}

@media (min-width: 768px){

  .estrella1,
  .estrella2{
    font-size: 28px;
  }

  .nav-negocio .bi-cake{
    font-size: 28px;
  }

  .nav-home{
    width: 90%;
    margin: 20px auto;
    font-size: 19px;
  }

  .header-home{
    width: 90%;
    margin-top: 20px;
  }

   main #mapa {
    width: 100%;
    height: 500px;
  }

  .section-caroucel .carousel-content .carousel-inner .carousel-item img {
    height: 700px;
    width: 100%;
    padding: 0;
  }

  .section-caroucel .carousel-content .carousel-inner .carousel-item 
  .carousel-caption {
    transform: translate(5%, -10%);
  }
}
