* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: rgb(250, 248, 248);
}

.header-negocio {
  background: #FEC3E1;
  border-radius: 25px;
  position: relative;
}

.estrella1{
  position: absolute;
  top: 10px;
  left: 10px;
  color: #b6b5b5;
  font-size: 20px; 
}

.estrella2{
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: #b6b5b5;
  font-size: 20px;
}

.header-negocio h1,
.header-negocio h4{
  color: grey;
}

.nav-negocio {
  background: #FEC3E1;
  border-radius: 25px;
}

.nav-negocio .bi-cake{
  color: grey;
  font-size: 20px;
}

.nav-negocio .nav-item .nav-link {
  color: grey;
  margin-left: 8px;
}

footer {
  color: #d17a98;
  border-top: 3px solid #d17a98; 
}

footer .footer-autor {
  color: grey;
  background: #FEC3E1;
  border-radius: 25px;
}

footer .lista-footer li a {
  color: #d17a98;
}


footer {
  color: #d17a98;
  border: 3px solid #d17a98;
}


footer .lista-footer li a {
  color: #d17a98;;
}

@media (min-width: 768px){

  .estrella1,
  .estrella2 {
    font-size: 28px;
  }

  .nav-negocio .bi-cake {
    font-size: 28px;
  }
  
  .nav-negocio {
    width: 90%;
    margin: 20px auto;
    font-size: 19px;
  }

  .header-negocio {
    width: 90%;
    margin-top: 20px;
  }
}